<include file="Public:header1"/>
<link rel="stylesheet" type="text/css" href="__COMMON__styles/member_info.css" />
<script type="text/javascript" src="__COMMON__scripts/mod_sidebar_toggle.js"></script>
	<!-- __主体#content -->
	<div id="content" class="type1">
		<div class="main">
			<include file="Public:userside"/>
			<form action="{:U('Member/my')}" method="post" class="main_text ff_simsun fs_12">
				<p class="current_location ff_fz fs_14">
					当前位置：
					<a href="{:U('Member/index')}">会员中心</a>
					&gt;&gt;
					<a  class="current">个人信息</a>
				</p>
				<h1 class="headline type2 ff_yh fs_18">基本信息</h1>
				<span class="tag label">账　　号：</span>
				<input type="text" class="input long" value="{$user_detail.name}" readonly />
				<!-- 清除浮动样式 -->
				<div class="clear"></div>
				<span class="tag label">性　　别：</span>
				<input type="radio" name="sex" value="1" class="radio" <if condition="$user_detail['sex'] eq 1"> checked="checked" </if> />
				<label class="tag tip">男</label>
				<input type="radio" name="sex" value="0" class="radio" <if condition="$user_detail['sex'] eq 0"> checked="checked" </if> />
				<label class="tag tip">女</label>
				<!-- 清除浮动样式 -->
				<div class="clear"></div>
				<span class="tag label">生　　日：</span>
				<input type="text" class="input short" name="birthday" placeholder="输入格式按 1900-01-01" value="{$user_detail.birthday}" />
				<!-- 清除浮动样式 -->
				<div class="clear"></div>
				<span class="tag label">所 在 地：</span>
                <select id="province">
                    <option selected="selected" value="0">请选择省（直辖市、自治区）</option>
                    <volist name="region_data" id="region">
                        <option value="{$region.id}" <if condition="$region['id'] eq $province_id" >selected</if> >{$region.name}</option>
                    </volist>

                </select>
                <select id="city">
                    <option selected="selected" value="0">请选择市（地区）</option>
                    <volist name="city_data" id="city">
                        <option value="{$city.id}" <if condition="$city['id'] eq $city_id" >selected</if> >{$city.name}</option>
                    </volist>
                </select>
                <select name="district_id" id="area">
                    <option selected="selected" value="0">请选择县（地区）</option>
                    <volist name="area_data" id="area">
                        <option value="{$area.id}" <if condition="$area['id'] eq $area_id" >selected</if> >{$area.name}</option>
                    </volist>
                </select>
				<!-- 清除浮动样式 -->
				<div class="clear"></div>
				<span class="tag label">手机号码：</span>
				<input type="text" name="tel" class="input long" value="{$user_detail.tel}" />
				<span class="tag tip">请真实填写，用于系统通知和找回密码</span>
				<!-- 清除浮动样式 -->
				<div class="clear"></div>
				<span class="tag label">电子邮件：</span>
				<input type="text" name="email" class="input long" value="{$user_detail.email}" />
				<!-- 清除浮动样式 -->
				<div class="clear"></div>

				<input type="submit" value="保存修改" class="float_btn save ff_yh fs_14" />
				<input type="reset" value="重置" class="float_btn back ff_yh fs_14" />
				<!-- 清除浮动样式 -->
				<div class="clear"></div>
                </form>
			</div>
			<!-- 清除浮动样式 -->
			<div class="clear"></div>
		</div>
	</div>
	<!-- //主体#content -->
<include file="Public:footer"/>
<script>
    $('#province').change(function(){
        var id = $('#province').val();
        $.post("{:U('Member/change_address')}",{id:id},function(data){
            var str = '<option selected="selected" value="0">请选择市（地区）</option>';
            if(data.length>0){
                for(var i=0; i<data.length; i++){
                    str += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                }
            }
            $('#city').html(str);
        },'json');
    });
    $('#city').change(function(){
        var id = $('#city').val();
        $.post("{:U('Member/change_address')}",{id:id},function(data){
            var str = '<option selected="selected" value="0">请选择县（地区）</option>';
            if(data.length>0){
                for(var i=0; i<data.length; i++){
                    str += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                }
            }else{
                $('#area').removeAttr('name');
                $('#city').attr('name','district_id');
            }
            $('#area').html(str);
        },'json');
    });
 </script>