<include file="Public:header1"/>
	<link rel="stylesheet" type="text/css" href="__COMMON__styles/cart.css" />
	<script type="text/javascript" src="__COMMON__scripts/mod_sidebar_toggle.js"></script>
	<script type="text/javascript" src="__COMMON__scripts/mod_select_all.js"></script>
	<script type="text/javascript" src="__COMMON__scripts/mod_item_calculator.js"></script>

	<!-- __主体#content -->
	<div id="content" class="type1">
		<div class="main">
			<include file="Public:userside"/>
			<div class="main_text ff_yh fs_12">
				<p class="current_location ff_fz fs_14">
					当前位置：
					<a href="{:U('Member/index')}">会员中心</a>
					&gt;&gt;
					<a href="{:U('Buy/cart')}" class="current">我的购物车</a>
				</p>
				<div class="info_card">
                    <if condition="$user['head_img']">
					    <img src="{$user.head_img}" class="img" />
                    <else/>
                        <img src="__COMMON__images/icons/login_avatar.jpg" class="img" />
                    </if>
					<p class="username ff_fz fs_18">
						用户名：
						<span class="ff_yh">{$user.name}</span>
					</p>
					<p class="text">你目的是向：注册会员，积分：{$user.integral}分。</p>

				</div>
				<h1 class="headline type2 fs_18">我的购物车</h1>
				<form  method="post" action="{:U('Buy/order')}" onsubmit="return check_form()">
					<ul class="item_list">
						<li class="item header fs_14">
							<span class="float name">商品名称</span>
							<span class="float price">单价（元）</span>
							<span class="float amount">数量</span>
							<span class="float total">金额</span>
							<span class="float actions">交易操作</span>
							<!-- 清除浮动样式 -->
							<div class="clear"></div>
						</li>
						<li class="action">
							<!-- 全选按钮必须给定一个groupid -->
							<!-- 响应此全选按钮的复选框必须有和此groupid相同的selectid -->
							<input type="checkbox" groupid="g1" />
							<span class="fs_14">全选</span>
						</li>
                        <volist name="cart_list" id="cart">
                            <li class="entry">
                                <p class="item header fs_14">
                                    <input type="checkbox" selectid="g1" class="g1" name="cart_id[]" value="{$cart.id}" />
                                    {$cart.time}
                                    <a href="javascript:del({$cart.id});" class="delete_this"></a>
                                </p>
                                <div class="item float name ff_simsun">
                                    <img src="{$cart.img_thumb}" />
                                    <p class="title">{$cart.name}</p>
                                    <p class="category">容量：{$cart.standard}</p>
                                </div>
                                <p class="float price">{$cart.sale_price}元</p>
                                <p class="float amount fs_14"><input type="text" value="{$cart.num}" style="width:30px !important; background:#7dc9e2; margin-top: 37px " class="num" id="change{$cart.id}" alt="{$cart.id}" /></p>
                                <p class="float total" id="total{$cart.id}">{$cart.one_total}元</p>
                                <p class="float actions">
                                    <a href="javascript:del({$cart.id});" class="delete_this">删除</a>
                                    <a href="javascript:collect({$cart.goods_id});">移至收藏夹</a>
                                </p>
                                <!-- 清除浮动样式 -->
                                <div class="clear"></div>
                            </li>
                            <input type="hidden" class="invent{$cart.id}" value="{$cart.inventory}"/>
                            <input type="hidden" id="num{$cart.id}" value="{$cart.num}"/>
                            <input type="hidden" id="price{$cart.id}" value="{$cart.sale_price}"/>
                        </volist>
					</ul>
					<div class="checkout_box ff_yh">
						<!-- 必须要有itemnumberfield才能使数量实时更新有效 -->
						<!-- 必须要有itemtotalfield才能使总价实时更新有效 -->
						<!-- 这两个自定义属性值随意 -->
						<p class="text fs_12">
							已选
							<span class="number" itemnumberfield="true">0</span>
							件商品
						</p>
						<p class="text fs_14">
							合计（不含运费）￥
							<span class="number fs_18" itemtotalfield="true">0.00</span>
						</p>
						<input type="submit" value="结算" class="checkout ff_yh" />
					</div>
				</form>
			</div>
			<!-- 清除浮动样式 -->
			<div class="clear"></div>
		</div>
	</div>
	<!-- //主体#content -->
<include file="Public:footer"/>
        <script>
            $('.num').bind('blur',function(){
                var num = $(this).val();
                var id = $(this).attr('alt');
                var invent = $('.invent'+id).val();
                var old_num = $('#num'+id).val();
                if(parseInt(num)>parseInt(invent)){
                    alert('库存不足,请重新选择数量');
                    return false;
                }else if(parseInt(num)>0 && parseInt(num)<=parseInt(invent)){
                    $.post("{:U('Buy/cart_change')}",{id:id,num:num},function(data){
                        if(data == 0){
                            alert('非法请求');
                            return false;
                        }else if(data == -1){
                            $('#change'+id).val(old_num);
                        }else if(data == 1){
                            var total = $('#price'+id).val()*num;
                            $("#total"+id).text(total+'元')
                        }
                    })
                }else{
                   alert('请输入正确的商品数量');
                    return false;
                }
            });
            function del(id){
                if(confirm('确定删除吗？')){
                    window.location.href="{:U('Buy/del_cart')}?id="+id;
                }
            }
            function collect(id){
                $.post("{:U('Buy/collect')}",{id:id},function(data){
                    if(data == 0){
                        alert('非法请求');
                    }else if(data == -2){
                        alert('收藏失败');
                    }else if(data == 2){
                        alert('收藏成功');
                    }
                })
            }
            function check_form(){
                var j = 0;
                $('.g1').each(function(i,v){
                    if($(v).is(':checked')){
                        j = 1;
                    }
                });
                if(j == 0){
                    alert('请选择结算商品');
                    return false;
                }
            }
        </script>