<include file="Public:header1" />
	<link rel="stylesheet" type="text/css" href="__COMMON__styles/news.css" />

	<!-- __主体#content -->
	<div id="content" class="type1">
		<div class="main">
			<include file="Public:side"/>
			<div class="main_text ff_simsun fs_12">
				<p class="current_location ff_fz fs_14">
					当前位置：
					<a href="./">首页</a>
					&gt;&gt;
					<a href="{:U('Index/news')}" class="current">新闻中心</a>
				</p>
				<ul class="news_list">
                    <volist name="news_list" id="va">
					<li>
						<div class="title">
							<a href="{:U('Index/newsDetail',array('id'=>$va['id']))}" class="fs_14">{$va.title}</a>
							<span class="date fs_10">[{$va.time}]</span>
							<!-- 清除浮动样式 -->
							<div class="clear"></div>
						</div>
						<p class="summary">{$va.info}</p>
					</li>
                    </volist>

				</ul>
				<p class="page_nav">
					<a <if condition="$page gt 1"> href="{:U('Index/news',array('page'=>$page-1))}" </if>>上一页</a>
					|
                    <volist name="pagelist" id="vol">
                        <a href="{:U('Index/news',array('page'=>$vol))}" <if condition="$vol eq $page">class="current"</if> > {$vol}</a>
                        |
                    </volist>
                    <a <if condition="$page lt $pageNum" > href="{:U('Index/news',array('page'=>$page+1))}"</if>>下一页</a>
			</div>
			<!-- 清除浮动样式 -->
			<div class="clear"></div>
		</div>
	</div>
	<!-- //主体#content -->
<include file="Public:footer"/>